<!DOCTYPE html>
<html>
    <head>
        <title>PC2018</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/uikit.min.css" />
        <link rel="stylesheet" type="text/css" href="../static/start.css" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
    </head>
    <body>
      <div class="container">
        <a href="http://localhost:5000/read_qr" target="_blank" class="btn-animation-02"><span>PUSH ME<span></a>
      </div>
    </body>
</html>
